# node_modules en cualquier subcarpeta
node_modules/

# Salidas de build de Next.js y NestJS
frontend/.next/
backend/dist/

# Archivos de entorno
*.env
*.env.local
*.env.development
*.env.production
*.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de cobertura de tests
coverage/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/